
PuntoVenta/.vs/PuntoVenta/FileContentIndex/644c6e05-45dd-4e96-9306-00e9744422aa.vsidx
PuntoVenta/.vs/PuntoVenta/FileContentIndex/97385c1f-e987-431b-b628-ba329a87c06c.vsidx
PuntoVenta/.vs/PuntoVenta/FileContentIndex/ebc4aae9-d8ef-40d6-abe6-b401700e4620.vsidx
PuntoVenta/.vs/PuntoVenta/FileContentIndex/77f5d8e8-e954-4103-ab91-30cb92e89fbb.vsidx
PuntoVenta/.vs/PuntoVenta/FileContentIndex/24d1bee0-69a9-41ba-b4d2-23ba0aaadd78.vsidx
